/* Global styles */


.loginform {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    /*box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);*/
    display: flex;
    flex-direction: row;
  }
  
  .loginform label{
    padding-bottom: 5px;
    font-weight: bold;
  }

  .loginInput{
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: var(--button-color-unpressed);
    color: VAR(--main-font-white);
    cursor: pointer;
    margin-left: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: var(--button-color-pressed);
  }

  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    .loginform {
      padding: 20px;
    }
  }