@inject IWebHostEnvironment environment
@inject ProtectedLocalStorage storage
@inject NavigationManager nav
<div class="navMenu">
    <a class="iconBox" href="">
        @if (imageExists){
            <img class="iconImg" alt="rfiq" src=@logo>
        } else {
            <p class="title">RFID</p>
        }
    </a>
 
    <div class="links">
        <div class="item">
            <NavLink href="Artikels" style="text-decoration: none">
                <p class="navText"> Artikels</p>
            </NavLink>
        </div>
        
        
        
        @if(currentUser != null && currentUser.functie == "dev"){
            <div class="item">
                <NavLink href="log" style="text-decoration: none">
                    <p class="navText"> Log </p>
                </NavLink>
            </div>

            <div class="item">
                <NavLink href="devices" style="text-decoration: none">
                    <p class="navText">
                        devices
                    </p>
                </NavLink>
            </div>
            <div class="item">
                <NavLink href="users" style="text-decoration: none">
                    <p class="navText">
                        Users
                    </p>
                </NavLink>
            </div>
            
        }
    </div>

    <div class="loginBox">
        @if(currentUser == null){
            <button class="login" @onclick=@(_ => setForm(2))>
                login
            </button>
            <button class="login" @onclick=@(_ => setForm(1))>
                register
            </button>
        } else {
            <p class="currentUser">@currentUser.naam</p>
            <button class="login" @onclick="logOut">
                logOut
            </button>
        }
        <div class="loginpopup" hidden=@(form != 1)>
            <Register onLoggedIn="login"/>
        </div>
        <div class="loginpopup" hidden=@(form != 2)>
            <Login onLoggedIn="login"/>
        </div>
    </div>
</div>




@code {
    private int form; //0 of, 1 register, 2 login
    private Models.Gebruiker? currentUser = null;

    private bool imageExists = false;
    private string logo = "images/rfid.jpg";
    protected override void OnInitialized()
    {
        var wwwroot = environment.WebRootPath;
        imageExists = File.Exists(Path.Combine(wwwroot,logo));
    }
    private void login(Models.Gebruiker user){
        storage.SetAsync("user", user);
        currentUser = user;
        form = 0;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender){
            var result = await storage.GetAsync<Models.Gebruiker>("user");
            if (result.Success)
                currentUser = result.Value;
            StateHasChanged();
        }
    }
    private void setForm(int id){
        form = (form == id) ? 0: id;
    }
    private void logOut(){
        storage.DeleteAsync("user");
        currentUser = null;
        nav.NavigateTo("/");
    }

}
