@page "/"

<div class="mainPage">
    <h1>RFID Ingenieursproject groep 8</h1>
    <h2>Groep</h2>
    <div class="Users">
        <p>Lexi</p>
        <p>Robbe</p>
        <p>Joren</p>
        <p>Milan</p>
    </div>
    
</div>